/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display:inherit;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.customButton {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 15px;
}

.customButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to separate button container from existing buttons */
}

.documentsTitle {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--ifm-color-primary-dark);
  margin-bottom: 20px;
}